.grid{
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 50px repeat(2, 200px) 50px;
    grid-template-areas: 
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.header{
    background-color: burlywood;
    grid-area: header;
}

.content{
    background-color: cornflowerblue;
    grid-area: content;
}

.nav{
    background-color: lightcoral;
    grid-area: nav;
}

.footer{
    background-color: lightseagreen;
    grid-area: footer;
}
