.grid{
    display: grid;
    grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line] 100px;
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.header{
    background-color: burlywood;
    grid-column: first-line / fifth-line;
}

.content{
    background-color: cornflowerblue;
    grid-column: first-line / fourth-line;
    grid-row: span 2;
}

.nav{
    background-color: lightcoral;
    grid-row: span 2;
}

.footer{
    background-color: lightseagreen;
    grid-column: 1 / -2;
}
