.grid{
    display: grid;
    gap: 5px;
    height: 130vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: row;
    grid-auto-columns: 100px;
}

.item:nth-child(odd){
    background-color:palegoldenrod;
}

.item:nth-child(even){
    background-color: lightskyblue;

}