@import "_variables";

body {
  background-color: $bg;
}

h2{
  font-size: $title;
  color: red;
}


.box{
  &.hover{
    background-color: sandybrown;
  }
  h2 {
    color:slategray;
  }
  button{
    background-color: $btn;
    color: white;
  }
}


