@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#F6F6F6;
  padding:50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  width: 100%;
  margin:0 auto;
}

img{
  width: 100px;
  margin-left: 250px;
}

.paper{
  background-color: white;
  width: 500px;
  height: 800px;
  padding:50px 25px;
  display: flex;
  flex-direction: row;
  box-shadow: 20px 20px 50px gainsboro, 
            -30px -30px 60px #FFFFFF;
}

h1{
  font-size: 75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

h2{
  font-size: 40px;
  font-weight: 600;
}
