.father{
    display: flex;
    flex-direction: row;
    /*Main Axis*/
    justify-content: space-around;
    /*Cross Axis*/
    align-items: center;
    height: 50vh;
}

.child{
    width: 100px;
    height: 100px;
    background-color: gold;
    color: black;
    font-size: 50px;
}

.child:nth-child(1){
    order: 1;
    align-self:flex-start;
}

.child:nth-child(3){
    order: 2;
    align-self: flex-end;
}