.father{
    display: flex;
    flex-direction: row;
    /*Main Axis*/
    justify-content: space-around;
    /*Cross Axis*/
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    /*flex-direction: row-reverse;*/
    /*align-content:flex-start;*/
}

.child{
    flex-basis: 40%;
    height: 200px;
    background-color: gold;
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2){
    order: 1;
    align-self:center;
}

.child:nth-child(1){
    order: 2;
    align-self:flex-start;
    background-color: cadetblue;
    flex-shrink: 3;
}

.child:nth-child(3){
    order: 3;
    align-self: flex-end;
    background-color:palevioletred;
    flex-grow: 1;
}

